<form *ngIf="userWorkoutInstance?.listOfWorkoutPhases" [formGroup]="form" (submit)="onSubmit()">
    <app-workout-phase-list
            [parent]="form"
            [workoutPhases]="userWorkoutInstance.listOfWorkoutPhases || []"></app-workout-phase-list>
    <button mat-button type="submit">Отправить</button>
</form>
