<h3>Меры</h3>
<div [formGroup] = parentGroup>
    <mat-form-field *ngFor="let measure of measureFormArray.controls" [formGroup]="measure">
        <mat-label>{{measure.value.measureTypeId}}</mat-label>
        <input matInput placeholder="20" [value]="measure.value.expectedValue" type="number" formControlName="expectedValue">
    </mat-form-field>
</div>
