<mat-card *ngIf="workoutProgram">
    <mat-card-title> {{workoutProgram?.common?.name | truncate:[40, '...']}}</mat-card-title>
    <mat-card-subtitle> Программа пройдена на {{workoutProgramPercentDone}}%</mat-card-subtitle>
    <!--            <app-progress-spinner [percentComplete]="workoutProgramPercentDone"></app-progress-spinner>-->
</mat-card>
