<div [formGroup]="parentGroup">
    <div formArrayName="listOfSets">
        <mat-card class="mat-elevation-z0" *ngFor="let set of workoutSetArrayControl.controls; let i = index" [formGroupName]="i">
            <mat-card-title>{{set.value.exerciseId}}</mat-card-title>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Отдых (Секунд)</mat-label>
                        <input matInput placeholder="20" type="number" formControlName="restTime">
                    </mat-form-field>
                </div>
                <app-measure-list [parentGroup]="set" [measureList]="workoutSetList[i].listOfMeasures" *ngIf="set.value.listOfMeasures"></app-measure-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
