<mat-nav-list>
    <mat-list-item *ngFor="let day of scheduler.listOfDays" (click)="editWorkoutInstance(day.userWorkoutInstanceList[0])">
        <span mat-line> {{day.userWorkoutInstanceList[0].name}} </span>
        <span mat-line> {{day.date | date}} </span>
        {{day.userWorkoutInstanceList[0].percentComplete}}% |
        {{getDifficalty(day.userWorkoutInstanceList[0].workoutDifficalt)}}
    </mat-list-item>
</mat-nav-list>
