<div [formGroup]="parent">
    <div formArrayName="listOfWorkoutPhases">
        <section *ngFor="let phaseControl of workoutPhaseList.controls; let i = index" [formGroup]="phaseControl">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Фаза {{i + 1}} - {{phaseControl.value['name']}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-workout-set-list [parentGroup]="phaseControl" [workoutSetList]="workoutPhases[i].listOfSets"></app-workout-set-list>
                    <mat-divider></mat-divider>
<!--                    <mat-card class="mat-elevation-z0" *ngFor="let set of phaseControl.value['listOfSets']; let i = index" [formControlName]="i">-->
<!--                        <mat-card-title>{{set.exerciseId}}</mat-card-title>-->
<!--                        <mat-card-content>-->
<!--                            <div>-->
<!--                                <mat-form-field>-->
<!--                                    <mat-label>Отдых (Секунд)</mat-label>-->
<!--                                    <input matInput placeholder="20" [value]="set.restTime" type="number" formControlName="rest">-->
<!--                                </mat-form-field>-->
<!--                            </div>-->
<!--                            <h3>Меры</h3>-->
<!--                            <mat-form-field *ngFor="let measure of set.listOfMeasures">-->
<!--                                <mat-label>{{measure.measureTypeId}}</mat-label>-->
<!--                                <input matInput placeholder="20" [value]="measure.expectedValue" type="number">-->
<!--                            </mat-form-field>-->
<!--                            <mat-divider></mat-divider>-->
<!--                        </mat-card-content>-->
<!--                    </mat-card>-->
                </mat-card-content>
            </mat-card>
        </section>
    </div>
</div>
