@import "~@angular/material/theming";
$mat-xs: 599px;
$mat-sm:  600px;
$mat-md: 960px;
$mat-lg: 1280px;
$mat-xl: 1920px;
$mat-lt-sm: screen and (max-width: 599px);
$mat-lt-md: screen and (max-width: 959px);
$mat-lt-lg: screen and (max-width: 1279px);
$mat-lt-xl: screen and (max-width: 1919px);
$mat-gt-xs: screen and (min-width: 600px);
$mat-gt-sm: screen and (min-width: 960px);
$mat-gt-md: screen and (min-width: 1280px);
$mat-gt-xl: screen and (min-width: 1920px);
$break-small: 320px;
$break-large: 1024px;

$primaryPalette: mat-palette($mat-deep-purple, 700);
$accentPalette:  mat-palette($mat-teal);
$warnPalette:    mat-palette($mat-red);

$theme: mat-light-theme($primaryPalette, $accentPalette, $warnPalette);

$primary: map-get($theme, primary);
$accent: map-get($theme,accent);
$warn: map-get($theme,warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
$border: 1px solid  mat-color($foreground, divider);
$border-radius: 4px;

@mixin respond-to($media) {
  @if $media == mat-xs {
    @media only screen and (max-width: $mat-xs) { @content; }
  }
  @else if $media == mat-sm {
    @media only screen and (min-width: $mat-sm) and  (max-width: $break-large ) { @content; }
  }
  @else if $media == mat-md {
    @media only screen and (min-width: $mat-md) and (max-width: $mat-lg - 1) { @content; }
  }
  @else if $media == mat-lg {
    @media only screen and (min-width: $mat-lg) and (max-width: $mat-xl - 1) { @content; }
  }
  @else if $media == mat-xl {
    @media only screen and (min-width: $mat-xl) { @content; }
  }
}

@mixin xs {
  @media #{$mat-xs} {
    @content;
  }
}

@mixin sm {
  @media #{$mat-xs} {
    @content;
  }
}


// Medium devices
@mixin md {
  @media (min-width: #{$mat-md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$mat-lg}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$mat-xl}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

