<section>
<!--    <app-workout-program-presenter [workoutProgram]="(workoutProgram$ | async) || undefined"-->
<!--                                   [workoutProgramPercentDone]="(currentWorkoutProgramStatistic | async)?.percentDone || 0"></app-workout-program-presenter>-->
</section>
<section>
    <mat-card *ngIf="(userTrainingInfo |async) && (userTrainingInfo |async)?.userWorkoutProgram.workoutProgramScheduler">
        <mat-card-header>
            <mat-card-title>
                Расписание
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-workout-program-scheduler (chooseWorkoutInstance)="goToEditWorkoutInstance($event)"
                                           [scheduler]="(userTrainingInfo |async)?.userWorkoutProgram.workoutProgramScheduler"></app-workout-program-scheduler>
        </mat-card-content>
    </mat-card>
</section>

