/* You can add global styles to this file, and also import other style files */
@import './theme/online-gym-light-main-theme';
@import './theme/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content{
  padding: 16px;
}
section{
  padding: 16px 0;
}
