<section>
    <mat-card>
        <mat-card-title>Твоя ссылка</mat-card-title>
        <mat-card-subtitle>Поделись ей что бы люди могли на тебя подписаться</mat-card-subtitle>
        <mat-card-content>
            <div>
                {{subscriptionUrl | async}}
                <app-copy-button [value]="subscriptionUrl | async"></app-copy-button>
            </div>
        </mat-card-content>
    </mat-card>
</section>
<section *ngIf="(users | async) !== null">
    <mat-card>
        <mat-card-title>Список твоих учеников</mat-card-title>
        <app-user-list [userList]="users | async" (userClick)="goToUserPage($event)"></app-user-list>
    </mat-card>
</section>
